#loader {
  text-align:center;
  padding-top: 35vh;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 66.5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
  overflow: hidden;
  background: rgba(197, 197, 197, 0.9);
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}